@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

html,
body {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  align-items: center;
  background-color: #030103;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23280d2a' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%234a1654' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23691e7f' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%238424ac' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23982ad9' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23a352e4' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23b27bee' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
}

.container-upload_image {
  align-items: center;
  background: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 469px;
  justify-content: center;
  position: relative;
  width: 402px;
}

.container-upload_image .title {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.035em;
  position: absolute;
  top: 36px;
}

.container-upload_image .title h1 {
  color: #4F4F4F;
  font-size: 18px;
  font-style: normal;
  line-height: 27px;
  margin-bottom: 20px;
}

.container-upload_image .title p {
  color: #828282;
  font-size: 11px;
  line-height: 15px;
}

.container-upload_image .drag-drop-img {
  align-items: center;
  background: #F6F8FB;
  border: 2px dashed #97BEF4;
  border-radius: 12px;
  color: #BDBDBD;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  height: 218.9px;
  justify-content: center;
  letter-spacing: -0.035em;
  line-height: 18px;
  position: absolute;
  top: 124px;
  width: 338px;
}

.container-upload_image .drag-drop-img .img {
  margin-bottom: 30px;
}

.container-upload_image .choose-file {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.035em;
  position: absolute;
  top: 361px;
}

.container-upload_image .choose-file p {
  color: #BDBDBD;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 20px;
}

.container-upload_image .choose-file .btn-upload-file {
  background: #2F80ED;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 12px;
  height: 31.98px;
  line-height: normal;
  outline: none;
  width: 101px;
}

.container-upload_image .choose-file .btn-upload-file:active {
  transform: scale(0.98);
}

.uploading {
  align-items: center;
  background: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 143.57px;
  justify-content: center;
  position: relative;
  width: 400.36px;
}

.uploading .uploading-name {
  color: #4F4F4F;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  height: 27px;
  left: 32px;
  letter-spacing: -0.035em;
  line-height: 27px;
  position: absolute;
  top: 36px;
  width: 100px;
}

.uploading .line-base {
  background: #F2F2F2;
  border-radius: 8px;
  height: 6px;
  position: absolute;
  top: 93.74px;
  width: 340.71px;
}

.uploading .line {
  background: #2F80ED;
  border-radius: 8px;
  height: 6px;
  left: 32px;
  position: absolute;
  top: 93.74px;
  width: 100.93px;
  -webkit-animation-name: "slide";
  -webkit-animation-duration: 2.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(0px);
  }

  50% {
    -webkit-transform: translateX(240px);
  }

  100% {
    -webkit-transform: translateX(0px);
  }
}

.upload-success {
  align-items: center;
  background: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 454.96px;
  justify-content: center;
  position: relative;
  width: 400.36px;
}

.upload-success .success-icono {
  align-items: center;
  background: #219653;
  border-radius: 50%;
  display: flex;
  height: 35px;
  justify-content: center;
  position: absolute;
  top: 39.5px;
  width: 35px;
}

.upload-success .success-title {
  color: #4F4F4F;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 85.53px;
}

.upload-success .success-title p {
  font-size: 18px;
}

.upload-success .success-img {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 137.87px;
}

.upload-success .success-img img {
  border-radius: 12px;
  height: 224.4px;
  width: 338px;
}

.success-link {
  align-items: center;
  background: #F6F8FB;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  height: 34px;
  justify-content: center;
  position: absolute;
  top: 387.6px;
  width: 338px;
}

.success-link form {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.success-link input {
  border: none;
  font-size: 10px;
  height: 12px;
  margin-left: 5px;
  outline: none;
  width: 240px;
}

.success-link .link-btn {
  align-items: center;
  background: #2F80ED;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 9px;
  font-weight: 500;
  justify-content: center;
  height: 30px;
  margin-right: 1px;
  outline: none;
  width: 74px;
}

.success-link .link-btn:active {
  transform: scale(0.98);
}